@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@400;500&display=swap");

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header and Logo Styling*/
header {
    background-color: #fdfcf5;
    color: #63a3aa;
    position: fixed;
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 1rem;
    text-align: left;
    box-shadow: 0 2px 2px #63a3aa;

}

/* General styling */

a {
    text-decoration: none;
    color: #63a3aa;
}

a:visited {
    text-decoration: none;
    color: #63a3aa;
}

a:hover {
    color: black;
}

h1 {
    font-family: Kalnia, Helvetica, sans-serif;
    text-align: left;
    color: #63a3aa;
}

h2 {
    font-family: Kalnia, Helvetica, sans-serif;
    text-align: center;
    color: #63a3aa;
}

section {
    font-family: Kalnia, Helvetica, sans-serif;
    text-align: center;
    color: #63a3aa;
    border-bottom: solid 1px #63a3aa;
    background-color: #fdfcf5;
    margin-top: 2.5%;
}


/* Navigation Menu Styling*/
nav {
    text-decoration: none;
    color: #63a3aa;
    position: absolute;
    background-color: #fdfcf5;
    left: 0;
    width: 100%;
    padding: 0 1rem;
    font-family: Kalnia, Helvetica, sans-serif;
    display: none;
    top: 100%;
    list-style-type: none;
    justify-content: space-between;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    margin-right: 20px;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    padding-right: 2rem;
}

/*Index page Main content styling*/

main {
    flex: 1 0 auto;
    margin-top: 25%;
    background-color: #fdfcf5;
    font-family: Kalnia, Helvetica, sans-serif;
    color: #63a3aa;
    text-align: center;
}

#plane {
    height: 300px;
    width: 100%;
    background: url("../images/Plane.jpg") no-repeat center center/cover;
}

/* About page main content styling */
#sunset {
    height: 300px;
    width: 100%;
    background: url("../images/Sunset.jpeg") no-repeat center center/cover;
}

/* Destinations page main content styling */

.lanzarote {
    width: 100%;
    height: 200px;
}

.new-york {
    width: 100%;
    height: 200px;
}

.rome {
    width: 100%;
    height: 200px;
}

/* Form Stylings */

button {
    background-color: #63a3aa;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.06);
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: black;
}

form {
    text-align: center;
}

input {
    padding: 0 1rem;
    margin: 10px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.06);
    border: none;
    width: 75%;
}

/*Footer styling*/
footer {
    background-color: #fdfcf5;
    border-top: 2px solid #63a3aa;
}

#social-media {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    font-size: 200%;
}

/*Media Responsiveness - larger screens*/

@media screen and (min-width: 768px) {

    /*header*/
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
    }

    nav>ul {
        display: flex;
        padding-right: 2rem;
    }

    .nav-toggle-label {
        display: none;
    }

    header {
        font-size: 125%;
    }

    /*main content*/
    main {
        margin-top: 79px;
    }

    .img-l {
        width: 30%;
    }

    .text-r {
        width: 70%;
    }

    .outer-div {
        display: flex;
    }

    input {
        width: 50%;
    }
}