@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@400;500&display=swap');

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

/* Header and Logo Styling*/
header {
    background-color: #FDFCF5;
    color: #63A3AA;
    position: fixed;
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 1rem;
    text-align: left;
}

a {
    text-decoration: none;
    color: #63A3AA;
}

a:visited {
    text-decoration: none;
    color: #63A3AA;
}

h1 {
    font-family: Kalnia, Helvetica, sans-serif;
    text-align: left;

}

/* Navigation Menu Styling*/
nav {
    text-decoration: none;
    color: #63A3AA;
    position: absolute;
    background-color: #FDFCF5;
    left: 0;
    width: 100%;
    padding: 0 1rem;
    font-family: Kalnia, Helvetica, sans-serif;
    display: none;
    top: 100%;
    list-style-type: none;
    justify-content: space-between;

}

ul {
    list-style-type: none;
}

li {
    display: inline;
    margin-right: 20px;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    padding-right: 2rem;

}


/*Main content styling*/

main {
    flex: 1 0 auto;
    margin-top: 25%;
    background-color: #FDFCF5;
}

#plane {
    height: 300px;
    Width: 100%;
    background: url("../images/Plane.jpg") no-repeat center center/cover;
}

/*Footer styling*/
footer {
    background-color: #FDFCF5;
    border-top: 2px solid #63A3AA;
}

#social-media {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    font-size: 200%;

}

/*Media Responsiveness - larger screens*/

@media screen and (min-width: 768px) {

    /*header*/
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
    }

    nav>ul {
        display: flex;
        padding-right: 2rem;

    }

    .nav-toggle-label {
        display: none;
    }

    header {
        font-size: 125%;
    }

    /*main content*/
    main {
        margin-top: 79px;
    }
}